
@section Scripts{
    <script src="~/scripts/Common/endpoints.js"></script>
    <script src="~/scripts/Ciudad/configurations.js"></script>
    <script src="~/scripts/Ciudad/modalMixin.js"></script>
    <script src="~/scripts/Ciudad/crudMixin.js"></script>
    <script src="~/scripts/Ciudad/tableMixin.js"></script>
    <script src="~/scripts/Ciudad/listBinding.js"></script>
}

<br />

<div id="ciudadTemplate">
    <div class="container">
        <div class="container">
            @await Html.PartialAsync("~/Views/Common/_gridTemplate.cshtml")

            <nf-modal ref="modal">
                @await Html.PartialAsync("~/Views/Ciudad/_formCiudad.cshtml")
            </nf-modal>

            <nf-modal ref="detailModal">
                @await Html.PartialAsync("~/Views/Ciudad/_detailCiudad.cshtml")
            </nf-modal>
        </div>
    </div>
</div>