<span slot="title">Detalle Pais</span>
<div slot="body">
    <dl class="dl-horizontal dl-zebra">
        <dt>ID:</dt>
        <dd>{{ modal.Id }}</dd>
        <dt>Nombre:</dt>
        <dd>{{ modal.Nombre }}</dd>
    </dl>
</div>
<div slot="footer">
    <button type="button" class="btn btn-link" data-dismiss="modal">Cancelar</button>
</div>